* {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

header {
    text-align: center;
    font-size: 40px;
}

a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    color: black;
}

img {
    width: 200px;
    height: auto;
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.img-container {
    width: 220px;
    height: auto;
    border: 1px solid;
    text-align: center;
}